name: Deploy to FPT Hosting

on:
  push:
    branches:
      - main  # Thay "main" bằng nhánh bạn muốn tự động triển khai khi có thay đổi

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up FTP credentials
        env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        run: |
          echo "FTP_HOST=$FTP_HOST" >> $GITHUB_ENV
          echo "FTP_USERNAME=$FTP_USERNAME" >> $GITHUB_ENV
          echo "FTP_PASSWORD=$FTP_PASSWORD" >> $GITHUB_ENV

      - name: Deploy to FTP server
        uses: appleboy/ftp-action@v1.1.0
        with:
          host: ${{ env.FTP_HOST }}
          username: ${{ env.FTP_USERNAME }}
          password: ${{ env.FTP_PASSWORD }}
          port: 21  # Cổng FTP, thường là 21 mặc định, nhưng có thể thay đổi tùy vào cấu hình của bạn
          local-dir: ./  # Đường dẫn tới thư mục chứa mã nguồn cần tải lên
          remote-dir: /public_html  # Thư mục trên server của FPT Hosting (có thể thay đổi tùy vào cấu hình của bạn)
